@page
@model outreach3.Pages.FollowUps.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>FollowUp</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FollowUp.FollowUpId" />
            <div class="form-group">
                <label asp-for="FollowUp.ResidentId" class="control-label"></label>
                <input asp-for="FollowUp.ResidentId" readonly="true" class="form-control"></input>
                <span asp-validation-for="FollowUp.ResidentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FollowUp.DateDue" class="control-label"></label>
                <input asp-for="FollowUp.DateDue" class="form-control" />
                <span asp-validation-for="FollowUp.DateDue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FollowUp.Status" class="control-label"></label>
                <select asp-for="FollowUp.Status" class="form-control">
                    <option value="Scheduled">[Select a Status</option>
                    <option value="Cancelled">Cancelled</option>
                    <option value="Complete">Complete</option>

                </select>
                <span asp-validation-for="FollowUp.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" asp-route-churchId="@Request.Query["churchId"]" asp-route-missionId="@Request.Query["missionId"]" asp-route-residentId="@Request.Query["residentId"]" />
            </div>
        </form>
    </div>
</div>

@*<div>
    <a asp-page="./Index" asp-route-churchId="@Request.Query["churchId"]" asp-route-missionId="@Request.Query["missionId"]" asp-route-residentId="@Request.Query["residentId"]" >Back to Followup List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
