@page
@model outreach3.Pages.FollowUps.IndexModel

@{
    ViewData["Title"] = "Index";
}

<p class ="rightDiv">
    <a  asp-route-churchId="@Request.Query["churchId"]" asp-route-missionId ="@Request.Query["missionId"]" asp-route-residentId="@Request.Query["residentId"]" asp-page="../Residents/Index">Return to Residents List</a>
</p>
<p>
    @if(Model.FollowUp.Count==0)
    {
    <a asp-route-residentId="@Request.Query["residentId"]" asp-route-churchId="@Request.Query["churchId"]" asp-route-missionId="@Request.Query["missionId"]" asp-page="Create">Create New</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FollowUp[0].DateDue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FollowUp[0].Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.FollowUp) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateDue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
                <td>
                    <form method="post">
                    <a asp-page="./Edit" asp-route-residentId="@Request.Query["residentId"]" asp-route-churchId="@Request.Query["churchId"]" asp-route-missionId="@Request.Query["missionId"]" asp-route-followUpId="@item.FollowUpId">Edit Follow Up</a>
                    |

                   

                        <input type="submit" value="Delete" asp-page-handler="Delete" class="linkInput" asp-route-churchId="@Request.Query["churchId"]" asp-route-missionId="@Request.Query["missionId"]"  asp-route-residentId="@Request.Query["residentId"]" asp-route-followUpId="@item.FollowUpId" />
                    </form>
                </td>
        </tr>
}
    </tbody>
</table>
