@page
@model outreach3.Pages.Visitations.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Visitation[0].VisitationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Visitation[0].VisitationDetails)
            </th>
            <th>
               Left @Html.DisplayNameFor(model => model.Visitation[0].DoorHangar)
            </th>          
            <th>
                @Html.DisplayNameFor(model => model.Visitation[0].VisitationDetails)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Visitation) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VisitationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VisitationDetails)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoorHangar)
           
            <td>
                    @Html.DisplayFor(modelItem => item.VisitationDetails)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.VisitationId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.VisitationId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.VisitationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
