@page
@model outreach3.Pages.ChurchGoals.IndexModel

<h4>Church Goals</h4>
<p>
   
    <div class="rightDiv">
        <a asp-page="../Churches/ChurchesMenu" asp-route-churchId="@Request.Query["churchId"]">Return to Church Menu</a>
    </div> 
    <a asp-page="Create" asp-route-churchId="@Request.Query["churchId"]">Create New</a>
    
    <form method="post">
        <input type="submit" class="linkInput" style="display:@Model.EmailNotificationAdd;" asp-page-handler="AddEmail" asp-route-churchId="@Request.Query["churchId"]" value="Add Weekly Email Notifications" name="addEmail" />
        <input type="submit" class="linkInput" style="display:@Model.EmailNotificationRemove;" asp-page-handler="RemoveEmail" asp-route-churchId="@Request.Query["churchId"]" value="Remove Weekly Email Notifications" name="removeEmail" />

    </form>
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ChurchGoals[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChurchGoals[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChurchGoals[0].GoalDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChurchGoals[0].NumberOfDoorsGoal)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.ChurchGoals[0].NumberOfDoors)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ChurchGoals) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoalDate)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.NumberOfDoorsGoal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfDoors)
            </td>
            <td>
                    <a asp-page="./Details" asp-route-churchId="@item.ChurchId" asp-route-churchGoalId="@item.ChurchGoalId">Details</a>
                    @if (User.IsInRole("ChurchAdmin") || User.IsInRole("Admin") || User.IsInRole("GoalEditor"))
                {
                        <a asp-page="./Edit" asp-route-churchId="@item.ChurchId" asp-route-churchGoalId="@item.ChurchGoalId">Edit</a>
                        <a asp-page="./Delete" asp-route-churchGoalId="@item.ChurchGoalId" asp-route-churchId="@item.ChurchId">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
